*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#cont{
    width: 90vw;
    margin: 20px auto;
}
#cont > h2{
    margin-bottom: 30px;
}
#main-product{
  width: 100%;
  height: 900px;
  display: flex;
  margin-bottom: 90px;
}
#main-product > div{
    width: 50%;
    height: 100%;
    padding: 3%;
}
#main-product-data h4:nth-child(1){
    color: blue;
    margin-bottom: 10px;
}
#main-product-data-brand{
    margin-bottom: 7px;
    font-size: 25px;
}
#main-product-data-name{
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(95, 94, 94);
}
#main-product-data-price{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}
#main-product-data-size h3{
    color: rgb(77, 75, 75);
    margin-bottom: 8px;
}
#main-product-data-size button{
 width: 80px;
 height: 40px;
 font-size: 20px;
 border: 1px solid rgb(155, 155, 155);
 background: none;
 margin-right: 10px;
}
#main-product-data-size button:hover{
    border: 1px solid rgb(61, 61, 61);
    cursor: pointer;
}
#main-product-data-btn{
    display: block;
    width: 350px;
    height: 50px;
    font-size: 15px;
    margin: 20px 0px;
    background-color: black;
    color: white;
    border: none;
}
#main-product-data-btn:hover{
    cursor: pointer;
}
.offerbox{
    width: 70%;
}
.offerbox > h2{
    margin-bottom: 15px;
}
.offerbox div{
    width: 100%;
    border: 1px solid rgb(185, 185, 185);
    padding: 15px;
}
.offerbox div h3{
    margin-bottom: 8px;
}
.pin{
    width: 70%;
    height: 100px;
    margin: 35px 0px;
}
.pin h2{
    margin-bottom: 10px;
}
.pin input{
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
}
.pin button{
    margin-left: 30px;
    border: none;
    background: none;
    color: red;
}
.pin input:focus{
    border: none;
}
.pin p{
    margin-top: 15px;
}
.pin button:hover{
    cursor: pointer;
}
.product-details{
    width: 100%;
    height: 230px;
}
.product-details >div{
    display: flex;
}
.product-details > div div{
    margin-right: 60px;
}
.product-details >h2:nth-child(1){
    margin-bottom: 15px;
}
.product-details >h2:nth-child(2){
    font-size: 18px;
    font-weight: bold;
}
.product-details > p{
    margin-bottom: 18px;
}
.product-details > div div p{
    margin: 8px 0px;
    font-weight: 500;
}
.product-details > div div h2{
    font-size: 16px;
    font-weight: bold;
}
.product-details > div div p span{
    margin-left: 10px;
    color: gray;
}
#recomended{
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    row-gap: 1%;
    column-gap: 3%;

}
.card{
    height: 400px;
}
.card:hover{
    box-shadow: 2px 2px 7px 7px rgb(218, 218, 218);
    cursor: pointer;
}
.card-img{
    width: 100%;
    height: 70%;
    background-size: cover;
}
.card-text{
    width: 90%;
    margin: auto;
    height: 30%;
    padding: 4px;
}
.card-text h4{
    font-weight: 550;
}
.card-text-detail{
  margin: 8px 0px;
  font-size: 14px;
  font-weight: lighter;

}
.card-text-price{
    margin: 4px 0px;
    font-weight: 600;
}

