#container{
    border: 1px solid green;
    height:200px;
    width:90%;
    margin:auto;
    margin-top: 80px;
    background-color: rgb(197, 192, 192);
    display: grid;
    grid-template-columns:30% 45% 30%;

}
#container>div >img{
    width:45%;
    height: 80%;
}
#container>div:nth-child(2){
    margin-top: 50px;
    text-align: center;
    width:100%;
}

#container>div:nth-child(3){
    width:100%
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.body{
    width: 90vw;
    margin: auto;
}
#slide-heading{
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 2%;
}
#slide-heading h2{
    margin: 0px 30px;
    font-weight: bolder;
}
#slide-heading-div1{
    width: 5%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
#slide-heading-div2{
    width: 70%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
#slide-heading h4{
    margin: 0px 30px; 
}
#slide-heading p{
    margin: 0px 30px;
}
#slide-heading-div3:hover{
    background-color:rgb(236, 228, 228);
    color:black;
    box-shadow: 2px 2px 7px 7px rgb(218, 218, 218);
    cursor: pointer;
    
}

#slide-heading-div4{
    width: 10%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.cont{
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 5%;
}
.filters{
    width: 25%;
    margin-right: 10px;
}
.filterbox{
    border: 1px solid lightgray;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    height: 300px;
    overflow-y: scroll;
}
.filterbox h2{
 font-weight: 400;
}
#priceslider{
    border: 1px solid lightgray;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    height: 200px;
    background-color: aquamarine;
}
#priceslider input{
    width: 90%;
    margin: auto;
}
#priceslider h2{
    font-weight: 400;
}
#priceslider h2 + div{
    width: 90%;
    margin: 20px auto;
    display: flex;

}
#priceslider button{
    padding: 4px 16px;
    background-color: white;
    border: 1px solid lightgrey;
    font-size: 18px;
}
#priceslider button:hover{
    color: white;
    background-color: black;
}
#priceslider h2 + div div{
    width: 40%;
    margin: 0% 10px;
}
#priceslider h2 + div div input{
    width: 100%;
    padding: 5px 0px;
}
.filterbox{
    background-color: aquamarine;
}
.filterbox div{
    width: 80%;
    margin: auto;
    padding: 10px 0px;
    text-align: left;
    display: flex;
}
.filterbox h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
.filterbox div div{
    width: 50%;
}
.filterbox div div:nth-child(2) input{
    position: relative;
    left: 70%;
}
.filterbox div label{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.filterbox div input{
   width: 22px;
   height: 22px;
   border-radius: 50%;
   margin-left: 10%;
   border-radius: 50%;
}
.card{
    height: 400px;
}
.card:hover{
    box-shadow: 2px 2px 7px 7px rgb(218, 218, 218);
    cursor: pointer;
}
.card-img{
    width: 100%;
    height: 70%;
    background-size: cover;
}
.card-text{
    width: 100%;
    margin: auto;
    height: 30%;
    padding: 4px;
    background-color: rgb(135, 216, 219);
}
.card-text h4{
    font-weight: 550;
}
.card-text-detail{
  margin: 8px 0px;
  font-size: 14px;
  font-weight: lighter;

}
.card-text-price{
    margin: 4px 0px;
    font-weight: 600;
}